.Register{
    text-align: center;
    background-color: rgb(255, 255, 242);
    color: rgb(66, 65, 65);
}
.requestForm{
    text-align: left;
    background-color: white;
    // padding: 1em;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    border: 0.1px rgb(226, 223, 223) groove;
    width: 40vw;
    border-radius: 5px;
    box-shadow: 2px 2px rgb(226, 223, 223);
    margin-left: auto;
    margin-right: auto;
}

.formHead{
    display: flex;
    justify-content: space-around;
    margin: 1em;
}
.cont{
    display: flex;
    justify-content: space-around;
    padding-bottom: 1em;
}

input{
    padding: 0.6em;
    border: 0.1px groove rgb(226, 223, 223);
    border-radius: 3px;
    margin-top: 0.8em;
    width: 15em;
}
.basicInfo p{
    margin-left: 1.8em;
}
select{
    padding: 0.5em;
    width: 10em;
    border: 0.1px groove rgb(226, 223, 223);
    margin-top: 0.8em;
    border-radius: 3px;
}
.build {
    margin-left: 1.6em;
        select{
            width: 95%;
        }
}
.continue{
    background-color: rgb(250, 20, 20);
    padding: 0.7em;
    margin: 2em;
    color: white;
    border: none;
    width: 10em;
    border-radius: 3px;
    // float: right;
    &:hover{
        color: rgb(250, 20, 20);
        background-color: white;
        transition: 0.5s ease;
        border: 0.1px groove rgb(250, 20, 20);
    }
}