body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@import './navbar';
@import './main1';
@import './map';
@import './footer';
@import './nav2';
@import './requestForm';
@import './login';
